body {
	background-color: #222831;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header {
	text-align: center;
	margin: 3%;
}

.form {
	width: 600px;
	height: 30%;
	text-align: center;
	align-items: center;
	justify-content: center;
}

input,
textarea {
	border: none;
	border-radius: 4px;
	margin: 2%;
	width: 500px;
	resize: vertical;
	padding: 9px;
}

textarea {
	height: 150px;
}

button {
	border: none;
	border-radius: 4px;
	width: 500px;
	padding: 15px;
	margin: 4%;
	color: white;
	background-color: #29a19c;
}

button:hover {
	background-color: #a3f7bf;
	color: #222831;
	box-shadow: 2px 2px 8px rgb(0, 0, 0);
}

h2 {
	font-family: "Amatic SC", cursive;
	color: white;
	font-size: 3em;
	text-shadow: 2px 2px 8px rgb(0, 0, 0);
	margin: 0;
	margin-bottom: 3%;
	font-weight: 400;
}

h1 {
	font-family: "Amatic SC", cursive;
	color: white;
	font-size: 10em;
	text-shadow: 2px 2px 8px rgb(0, 0, 0);
	margin: 0;
	font-weight: 400;
}

a:active,
a:focus {
	outline: 0;
	border: none;
	outline-style: none;
	-moz-outline-style: none;
}

.fab {
	margin-top: 5%;
	color: white;
	text-shadow: 2px 2px 8px rgb(0, 0, 0);
}

.fab:hover {
	color: #a3f7bf;
}

form {
	align-items: center;
	justify-content: center;
}
