.projectsWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #232733;
	margin-bottom: 70px;
	margin-top: -100px;
	padding-top: 50px;
}

.projectsWrapper h2 {
	font-size: 2.5em;
	margin-bottom: 70px;
}

.project {
	display: flex;
	width: 70%;

	border: 1px solid #e6edf6;
	box-shadow: 0 50px 100px rgba(50, 50, 93, 0.05), 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
	margin-bottom: 60px;
	border-radius: 15px;
}

.project.reverse {
	flex-direction: row-reverse;
}

.project.reverse .project-gradient {
	border-radius: 0 15px 15px 0;
}

.image-link {
	width: 557px;
}

.projDesc {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 50px 50px 0 50px;
}

.project-gradient {
	height: calc(100% + 1px);
	width: 407px;
	min-width: 407px;
	background: grey;
	border-radius: 15px 0 0 15px;
}

div.project:nth-of-type(1) .project-gradient {
	background: rgba(117, 16, 247, 1);
	background: linear-gradient(180deg, rgba(117, 16, 247, 1) 0%, rgba(199, 80, 192, 1) 100%);
}

div.project:nth-of-type(2) .project-gradient {
	background: rgb(199, 80, 192);
	background: linear-gradient(180deg, rgba(199, 80, 192, 1) 0%, rgba(255, 204, 112, 1) 100%);
}

div.project:nth-of-type(3) .project-gradient {
	background: rgb(255, 204, 112);
	background: linear-gradient(180deg, rgba(255, 204, 112, 1) 0%, rgba(43, 210, 255, 1) 100%);
}

div.project:nth-of-type(4) .project-gradient {
	background: rgb(43, 210, 255);
	background: linear-gradient(180deg, rgba(43, 210, 255, 1) 0%, rgba(43, 255, 136, 1) 100%);
}

div.project:nth-of-type(5) .project-gradient {
	background: rgb(43, 255, 136);
	background: linear-gradient(180deg, rgba(43, 255, 136, 1) 0%, rgba(117, 16, 247, 1) 100%);
}

.projDesc h2 {
	font-size: 2em;
	margin-bottom: 50px;
}
.projDesc p {
	font-size: 1.3em;
	line-height: 30px;
	margin-bottom: 50px;
}

.lang {
	display: flex;
	flex-wrap: wrap;
	padding-top: 50px;
	justify-content: center;
	padding: 20px 20px;
	margin-bottom: 50px;
}

.lang .skill {
	text-align: center;
	border: 2px solid #7510f7;
	border-radius: 5px;
	display: inline-block;
	margin-bottom: 20px;
	padding: 7px 15px;
	font-weight: 500;
	color: #232733;
	margin: 10px;
}

.buttons {
	display: flex;
	justify-content: center;
}

.live {
	width: 250px;
	height: 45px;
	font-size: 1.4em;
	font-weight: 600;
	border: none;
	background: #7510f7;
	color: #fff;
	border-radius: 5px;
	margin-right: 20px;
	box-shadow: 0 50px 100px rgba(50, 50, 93, 0.05), 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
	transition: 0.3s;
}
.source {
	width: 250px;
	height: 45px;
	font-size: 1.4em;
	font-weight: 600;
	border: none;
	background: #21c380;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 50px 100px rgba(50, 50, 93, 0.05), 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
	transition: 0.3s;
}

@media (hover: hover) {
	.live:hover {
		background: #903aff;
	}
	.source:hover {
		background: #33d893;
	}
}

.btnIcon {
	position: relative;
	top: 3px;
	right: 10px;
}

.project {
	width: 70%;
	height: calc(100% + 20px);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	padding: 30px;
}

.projDesc {
	padding: 50px;
	position: relative;
	background: white;
	z-index: 3;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
}

.project .project-gradient {
	display: block;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

@media (min-width: 1700px) {
	.projectsWrapper h2 {
		font-size: 3em;
	}

	.projDesc h2 {
		font-size: 2.2em;
		margin-bottom: 50px;
	}
	.projDesc p {
		font-size: 1.5em;
		line-height: 30px;
		margin-bottom: 50px;
	}

	.live {
		width: 300px;
		height: 55px;
		font-size: 1.6em;
	}
	.source {
		width: 300px;
		height: 55px;
		font-size: 1.6em;
	}
}

@media (max-width: 1586px) {
	.project {
		width: 80%;
	}
	.skills {
		width: 80%;
	}
}
@media (max-width: 1310px) {
	.project {
		width: 85%;
	}
	.skills {
		width: 85%;
	}
}
@media (max-width: 1220px) {
	.project {
		width: 85%;
	}
	.live {
		margin-bottom: 20px;
		margin-right: 0px;
	}
	.lang {
		padding: 0;
		justify-content: center;
	}
	.buttons {
		flex-direction: column;
		align-items: center;
	}
}
@media (max-width: 1070px) {
	.project {
		width: 85%;
		height: calc(100% + 20px);
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}

	.projDesc {
		padding: 20px;
		position: relative;
		background: white;
		z-index: 3;
		border-radius: 10px;
	}

	.project .project-gradient {
		display: block;
		width: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
	}

	.live {
		margin-bottom: 20px;
		margin-right: 0;
	}
	.source {
		margin-right: 0;
	}
}

@media (max-width: 600px) {
	.project {
		width: 85%;
		padding: 15px;
	}

	.projectsWrapper h2 {
		font-size: 2.2em;
		margin-bottom: 70px;
	}

	.projDesc h2 {
		font-size: 1.8em;
	}
	.projDesc p {
		font-size: 1.1em;
		margin-bottom: 50px;
	}

	.lang {
		padding: 0;
		justify-content: center;
	}

	.buttons {
		flex-direction: column;
		align-items: center;
	}

	.live {
		margin-bottom: 20px;
		margin-right: 0;
	}
	.source {
		margin-right: 0;
	}
}
